.orders-list .header p{
    color: var(--text-color);
    font-size: 14px;
    font-weight: medium;
}
.orders-list .body{
    text-transform: capitalize;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid var(--red-color);
}
.orders-list .body p{
    display: inline-block;
}


@media (max-width:1029px) {
    .orders-list  .header{
        display: none;
    }
}
@media (max-width:776px) {
    .orders-list .body .hide{
        display: none;
    }
}
