.navbar{
    border-bottom: 1px solid var(--grey-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.navbar .left-navbar p{
    font-size: 10px;
}
.navbar button{
    outline: none;
    border: none;
    background-color: var(--blue-color);
}