.add-product form button{
    background-color: var(--blue-color);
}
.add-product form button:hover{
    background-color: var(--red-color) !important;
}
.add-product form .size.active,
.add-product form .color.active{
    border: 1px solid var(--red-color) !important;
    background-color: var(--red-transparent-color);
}
@media (max-width:1030px) {
    .add-product form{
        flex-direction: column;
    }
    .add-product form  div{
        width: 100% !important;
    }
    .add-product form .input-container{
        flex-wrap: wrap;
    }
}

